@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(19, 87, 133);
}

.container{
  display: flex;
  height: 98vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.container .form-wrap{
  background: #ffffff;
  width: 60%;
  padding: 15px 20px;
}

.container .form-wrap h3{
  text-align: center;
  margin: 0px 0px 15px;

}
.container .form-wrap .form-box{
  margin: 0px 0px 15px;

}
.container .form-wrap input[type="email"]{
  padding: 5px 8px;
  border-radius: 3px;
  border: 1px solid #353535;
  color: black;
  width: 100%;
}
.container .form-wrap .form-submit{
  display: flex;
  justify-content: center;
}
.container .form-wrap .form-submit .submit-button{
  padding: 4px 1000px;
  border: none;
  border-radius: 2px;
  background: #353535;
  text-align: center;
  font-weight: 800;
  font-size: 19px;

}