.single-popular-accommodation{
  border-radius: 3px;
  padding: 1rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
  display: flex;
  overflow: hidden;
  &__image{
    margin-right: 2rem;
    img{
      width: 13rem;
      height: 12rem;
      object-fit: cover;
      border-radius: 3px;
      transition: .2s;
      opacity: .9;
    }
  }
  &__details{
    align-self: baseline;
  }
  &:hover img{
    opacity: 1;
  }
}
