$link-color: #fcfcfc;
$link-hover-color: #ffffff;
$primary-color: #3376cb;
$font: Arial, Helvetica, sans-serif;

.navbar {
  display: flex;
  background: $primary-color;
  color: $link-color;
  padding: .2rem 4rem;
  justify-content: space-between;
  align-items: center;
  font-family: $font;
  /* 900px */
  @media only screen and (max-width: 56.25em) {
    &{
      align-items: flex-start;
    }
  }
  .nav-item a{
    color: var(--color-grey-light-1);
  }
  a {
    color: $link-color;
    text-decoration: none;
    font-family: $font;
  }
  .nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    /* 900px */
    @media only screen and (max-width: 56.25em) {
     &{
       flex-direction: column;
       justify-content: flex-start;
     }
    }
    li {
      padding: 1rem;
    }
    .profile-menu {
      list-style-type: none;
      padding: 0.2rem;
      width: 3.4rem;
      img {
        width: 100%;
      }
    }
  }
}
