.navigation {
  background-color: var(--primary-color);
  padding: 2rem 4rem;
  color: var(--color-white);
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}
