.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .form-group {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin-top: 2rem;
    .form-input {
      border-radius: 7px;
      border: none;
      outline: none;
      margin-bottom: 1rem;
      padding: 1.5rem 1rem;
      background-color: var(--color-grey-light-1);
      font-size: 1.6rem;
      text-transform: capitalize;
    }
  }
}

// edit model style
.button {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  border-radius: 18px;
  border: none;
  background-color: #25c2a0;
  color: white;
}
.button:hover {
  opacity: 0.7;
  background-color: red;
}
