.btn{
    background-color: #2196F3;
    color: white;
    font-size: 18px;
    margin: 10px auto;
    margin-left: 20px;
    width: fit-content;
    border: none;
    border-radius: 5px;
  }
  button:hover{
    background-color: #5C73F2;
    cursor: pointer;
  }
