:root {
  --primary-color: #3182ce;
  --primary-color-light: #4299e1;
  --primary-color-dark: #2b6cb0;

  --color-grey-light-1: #edf2f7;
  --color-grey-light-3: #cbd5e0;
  --color-grey-light-2: #e2e8f0;
  --color-white: #f7fafc;

  --color-grey-dark: #4a5568;
  --color-grey-dark-2: #a0aec0;
  --color-grey-dark-3: #1a202c;
  --color-danger: #e53e3e;
  --color-success: #38a169;
  --color-warning: #f0ad4e;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
/* 1800px */
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
/* 1200px */
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
/* 900px */
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
/* 600px */
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 48%;
  }
}

a {
  text-decoration: none;
}
body {
  box-sizing: border-box;
  font-size: 1.6rem;
  line-height: 1.7;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: var(--color-grey-dark);
  background-color: var(--color-white);
}

::selection {
  background-color: var(--primary-color-dark);
  color: var(--color-white);
}
a,
a:link,
a:active,
a:visited {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.2s;
}
a:hover {
  color: var(--primary-color-light);
}
.form-group {
  margin-bottom: 2rem;
}
.close{
  font-size: 2.5rem;
}
.close:hover{
cursor: pointer;
}
.btn {
  &,
  &:link {
    text-decoration: none;
    padding: 1.5rem 3.2rem;
    background-color: var(--color-grey-light-1);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.2s;
  }
  &-sm {
    padding: 0.9rem 1.8rem !important;
    font-size: 1.2rem !important;
  }
  &-xs {
    padding: 0.5rem 0.8rem !important;
    font-size: 1.2rem !important;
  }
  &-block {
    width: 100% !important;
  }
  &:hover {
    transform: translateY(-1px);
  }
  &-loading {
    cursor: none;
  }
  &:focus {
    transform: translateY(0);
    outline: none;
  }
}

.btn-primary {
  &,
  .btn-primary:link {
    background-color: var(--primary-color) !important;
    color: #ffff !important;
  }
  &:focus {
    background-color: var(--primary-color-dark);
  }
  &:hover {
    background-color: var(--primary-color-light);
  }
}
.btn-warning {
  &,
  .btn-primary:link {
    background-color: var(--color-warning) !important;
    color: #ffff !important;
  }
  &:focus {
    background-color: var(--color-warning);
  }
  &:hover {
    background-color: var(--color-warning);
  }
}
.btn-danger {
  &,
  &:link {
    background-color: var(--color-danger);
    color: #ffff !important;
  }
  &:hover {
    background-color: #f56565;
  }
  &:focus {
    background-color: #c53030;
  }
}

.float-right {
  float: right;
}
.capitalize {
  text-transform: capitalize;
}
